{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
    <p class="title">Kalkulator ZSE</p>
  <br/>
  <div class="center">
    <h1>Zaloguj się na swoje konto</h1>
    <br/>
    {{ wtf.quick_form(form) }}
  </div>
    {% if canregister %}
        <br>
    <div class="center">
      <p>Nie masz konta?  <a href="{{ url_for('auth.register') }}">Zarejestruj się </a></p>
    </div>
    {% endif %}
</div>
    <script>
        $.ajax({
        url: '/api/get_design', dataType: 'text', type: 'get', contentType: 'application/x-www-form-urlencoded'
    }).done(function (result) {
        console.log(result)
        result = JSON.parse(result);
        $('#wrapper').css("background-image", "url(../static/" + result[5] + ")");
        $('.title').each(function () {
            $(this).text(result[0]);
        });
        $("link[rel='shortcut']").each(function () {
            $(this).attr("href", "../static/" + result[4] + "");
            $(this).attr("src", "../static/" + result[4] + "");
        });


    });
    </script>
{% endblock %}