
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
{% if add_object %}
Dodawanie osoby
{% else %}
Edytowanie osoby
{% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="center">
                    {% if add_object %}
                    <h1>Dodaj osobę</h1>
                    {% else %}
                    <h1>Edytuj osobę</h1>
                    <p>
                        Obecnie edytujesz użytkownika
                        <span style="color: #aec251;">
                        </span>
                    </p>
                    {% endif %}
                    <br/>
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}