
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Administratorzy{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Administratorzy</h1>
        {% if employees %}
          <hr class="intro-divider">
        <div class="opt">
          <a href="{{ url_for('home.docs') }}">
            <i class="fa fa-book"></i> Zobacz dokumentację
          </a>
          <a href="{{ url_for('home.dashboard') }}">
            <i class="fa fa-table"></i> Wygeneruj arkusz
          </a>
          <a href="{{ url_for('home.bug') }}">
            <i class="fa fa-bug "></i> Zgłoś błąd
          </a>
        </div>
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="10%"> Imię/Nazwisko</th>
                  <th width="30%"> Uprawnienia do: </th>
                  <th width="30%"> E-mail </th>
                  <th width="12%"> Akcje </th>
                </tr>
              </thead>
              <tbody>
              {% for employee in employees %}
                    <tr>
                      <td> {{ employee.first_name }} {{ employee.last_name }} </td>
                      <td>
                        {% if employee.is_admin %}
                          Zarządzanie wszystkim i wszystkimi
                        {% else %}
                        {% for c in conn %}
                          {% if employee.id == c.userid %}
                            {% for d in depart %}
                              {% if c.permissionid == d.id %}
                                  {{d.name}}
                                    <a href="{{ url_for('admin.delete_perm', id=c.relationid) }}">
                                      <i class="fa fa-trash"></i> Usuń
                                    </a><br>
                                {% endif %}
                              {% endfor %}
                            {% else %}
                          {% endif %}
                        {% endfor %}
                        <a href="{{ url_for('admin.assign_perm', id=employee.id) }}">
                        <i class="fa fa-plus-square"></i> Dodaj
                        </a><br>
                          {% endif %}
                      </td>
                      <td>
                        {% if employee.email %}
                          {{ employee.email }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        <a href="{{ url_for('admin.assign_user', id=employee.id) }}">
                          <i class="fa fa-pencil"></i> Edytuj
                        </a><br>
                        <a href="{{ url_for('admin.delete_user', id=employee.id) }}">
                          <i class="fa fa-trash"></i> Usuń
                        </a>
                      </td>
                    </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}