{% extends "base.html" %}
{% block title %}Panel administratora{% endblock %}
{% block body %}

<div class="help-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="help-message scale-up-top">
                    <h1>Instalacja i pierwsze uruchomienie aplikacji</h1>
                    <h3>To nic trudnego!</h3>
                    <div style="text-align: center">
                        <a class="btn btn-default btn-lg">
                            <i class="fa fa-book"></i>
                            Przeczytaj teraz
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="help-header2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="help-message scale-up-top">
                    <h1>Konfiguracja aplikacji</h1>
                    <h3>W tym zabezpieczenia</h3>
                    <div style="text-align: center">
                        <a class="btn btn-default btn-lg">
                            <i class="fa fa-book"></i>
                            Przeczytaj teraz
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="help-header3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="help-message scale-up-top">
                    <h1>Poradnik dla użytkowników</h1>
                    <h3>Jak korzystać z aplikacji? </h3>
                    <div style="text-align: center">
                        <a class="btn btn-default btn-lg">
                            <i class="fa fa-book"></i>
                            Przeczytaj teraz
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="block" href={{back}}>WRÓĆ</a>
{% endblock %}