<!DOCTYPE html>
<html lang="en">
<head>
    <title class="appname"></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/zse2.css') }}" rel="stylesheet">
    <link rel="shortcut icon" class="logo" href="">
</head>
<body onload="xReload('main'); render_theme();" class="xbody">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<div class="wrapper" id="wrapper">
    <div class="top">
    <div id="appname" class="top-left"><span class="appname"></span>
        <div id="topcontextleft">
            <!--<li class="mmc"><a href="{{ url_for('admin.list_settings') }}">O aplikacji</a></li>-->
        </div>
    </div>

    <div id="userinfo" class="top-right">
        <li><img class="prof img-fluid" src="{{ url_for('static', filename=('user_content/profile_photo/' + current_user.profile_photo)) }}"></li>
        <div id="topcontextright">
            <li class="mmc rig"><a><i class="fa-duotone fa-user"></i> {{ current_user.first_name }} {{ current_user.first_name }}</a></li>
            <li class="mmc rig"><a onclick="settings()"><i class="fa-duotone fa-cogs"></i> Ustawienia</a></li>
            <li class="mmc rig"><a href="{{ url_for('auth.logout') }}"><i class="fa-duotone fa-portal-exit"></i> Wyloguj się</a></li>
        </div>
    </div>
</div>

<nav id="botNav" class="botNav" role="navigation">
    <li onclick="xReload('main')" id="panelli"><a>Panel</a></li>
    {% if current_user.is_admin %}
        <li onclick="xReload('admin')" id="adminli"><a>Administratorzy</a></li>
        <li onclick="xReload('categories')" id="categoryli"><a>Kategorie</a></li>
    {% endif %}
    <li onclick="xReload('calc')" id="calculatorli"><a>Kalkulator</a></li>
    {% if current_user.is_admin %}
    <li onclick="xReload('data')" id="datali"><a>Dane</a></li>
    {% endif %}
</nav>
    <div class="body">
    </div>
    <div class="push"></div>
    <div id="load"></div>
    <footer><img class="logo" src="">
        <h3 class="appname"></h3>
        <hr>
        <p><i class="fa-duotone fa-code-compare"></i> Wersja <span class="ver"></span>
            <span class="istest" style="color: red;"> testowa</span></p>
        <p class="copyright"><i class="fa-duotone fa-computer-classic"></i>
            <span class="author"></span></p></footer>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/v2.js') }}"></script>

</body>
</html>